/* General Page Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login Container Styling */
.login-container {
  background-color: #fff;
  padding: 60.5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex start;
}

h2 {
  color: #303968;
  margin-bottom: 50px;
}

/* Input Field Styling */
.input-container {
  margin-bottom: 19px;
  text-align: left;
}

.input-container label {
  display: block;
  font-size: 14px;
  color: #303968;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
::placeholder {
  color: #c6c6c6;
}

#forgot-password {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  cursor: pointer;
  color: #303968;
}
/* Button Styling */
.button-container {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 90%;
}

.login-btn {
  background-color: #6a6eee;
  color: white;
}

.login-btn:hover {
  background-color: #238eec;
}

.reset-btn {
  background-color: #f44336;
  color: white;
  margin-left: 10px;
}

.reset-btn:hover {
  background-color: #e33c31;
}

/* Social Media Section Styling */
.social-media {
  margin-top: 80px;
}

.social-media p {
  color: #666;
}

.social-icon {
  margin: 0 10px;
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

.social-icon:hover {
  color: #007bff;
}

#sign_up {
  color: #6a6eee;
  cursor: pointer;
}
